body {
    font-family: 'Poppins', sans-serif;
}
.stylus-text {
    font-family: 'Nova Round', cursive;
}
.btn-stylus {
    background: linear-gradient(90deg,tomato,violet,darkviolet);
    color: white;
}
.border-curve {
border-radius: 0% 0% 40% 60% / 0% 0% 35% 20% ;
}
.client {
    height: 50px;
    padding: 0px 20px;
}
.red-blob , .green-blob {
  height:200px;
  width:150px;
  display: block;
}
.red-blob {
top: 0;
left: -100px;
}
.green-blob {
bottom: 200px;
right: -100px;
}
.star-icon {
    height: 30px;
    transform: rotate(-30deg);
    margin: 0 10px;
}
.text-orange {
    color: tomato;
}
#closeModal {
    top: -15px;
    right: -15px;
    z-index: 9;
}